* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
}

html {
    height: 100%;
    background-color: var(--color-light);
}

body {
    display: grid;
    height: 100%;
}

#content-container {
    /* height: 100%; */
    display: grid;
    grid-template-rows: auto 2rem;
    background-color: var(--color-light);
    margin-top: 95px;
}

main {
    height: 100%;
    width: 100%;
    padding: 1rem;
    background-color: var(--color-light);
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.main-footer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    background-color: var(--color-tertiary);
}

.page-heading {
    background-color: var(--color-secondary);
    padding: 1rem;
    border-radius: var(--radius-normal);
    text-align: center;
    margin-bottom: 1rem;
}

/* Domovská stránka */
.home-page--welcome-text {
    text-align: center;
    font-size: var(--font-size-normal);
}

.home-page--sub-heading {
    font-size: var(--font-size-medium);
    text-align: center;
    font-weight: bold;
}

.home-hr {
    border: 1px solid var(--color-primary);
    opacity: 1;
    margin: 0 auto;
    width: 50%;
}

/* EVENT DETAIL*/

.event-detail--image {
    border-radius: var(--radius-normal);
    width: 100%;
    object-fit: cover;
    height: 250px;
}

.event-detail--wrapper {
    display: grid;
    grid-row-gap: 1rem;
    justify-items: center;
    padding: 1rem;
}

.detail-page--title {
    font-size: var(--font-size-big);
    margin-bottom: 0;
}

.event-detail--wrapper > h3,
h4 {
    margin-bottom: 0;
    font-size: var(--font-size-medium);
    color: var(--color-medium);
    font-weight: normal;
}

.event-detail--wrapper p {
    text-align: justify;
}

.edit-event--uploaded-image {
    height: 250px !important;
    border-radius: var(--radius-normal);
}


.edit-event--uploaded-image img {
    height: 250px !important;
    border-radius: var(--radius-normal);
}

.edit-event--uploaded-image label {
    border-radius: var(--radius-normal);
    border: none !important;
}

/* EDIT EVENT */
#eventImageLabel {
    cursor: pointer;
    border: 1px dashed black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 200px
}

#eventImage {
    position: absolute;
    opacity: 0;
    z-index: -1
}


/* ZAŘÍZENÍ */

.c-carousel-img {
    height: 100%;
    object-fit: cover;
}

.carousel {
    width: 100%;
}

.carousel-inner {
    height: 35vh;
    width: 100%;
    max-height: 600px;
    list-style: none;
    padding-left: 0;
}

.carousel-item {
    height: 100%;
    width: 100%;
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* RECENZE */

.c-review-form {
    margin-top: 1rem;
    background-color: var(--color-tertiary);
    /* padding: 1rem; */
    border-radius: var(--radius-normal);
}

.c-review-form > div {
    margin-top: 1rem;
}

.c-review-form--heading {
    font-size: var(--font-size-medium);
    font-weight: bold;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    display: inline-block;
    /*width: 8em;*/
}

.rating input {
    position: absolute;
    /*left: -999999px;*/
    opacity: 0;

}

.rating label {
    display: inline-block;
    font-size: 0;
}

.rating > label:before {
    position: relative;
    font-size: 2rem;
    display: block;
    content: "\2605";
    color: #ccc;
    background: -webkit-linear-gradient(-45deg, #d9d9d9 0%, #b3b3b3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > label.selected:before,
.rating > label.selected ~ label:before {
    color: #f0ad4e;
    background: var(--color-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.c-review-hr {
    border: 1px solid var(--color-primary);
    opacity: 1;
    margin: 3rem auto;
    width: 50%;
}

.c-review-list {
    list-style: none;
    padding-left: 0;
}

.c-review-list > li {
    margin-top: 1rem;
}

/* KONTAKTY*/

.c-contacts-card {
    background-color: var(--color-tertiary);
    border-radius: var(--radius-normal);
}

.c-contacts-map {
    overflow: hidden;
    border-bottom-left-radius: var(--radius-normal);
    border-bottom-right-radius: var(--radius-normal);
    height: 400px
}

.c-contacts-link {
    color: var(--color-primary);
}

.c-contacts-link:hover {
    color: var(--color-primary);
}

.contacts-list {
    padding-left: 0;
}

/* NADCHÁZEJÍCÍ AKCE    */

.event-type--label {
    white-space: nowrap;
    font-size: 1rem;
    margin-bottom: 0;
}

.c-radios-wrapper > * {
    margin-left: 1rem;
}

.c-radios-wrapper > *:first-child {
    margin-left: 0;
}

.c-radio-button {
    box-shadow: none !important;
}

.c-radio-button:focus {
    border-color: var(--color-primary);
}

.c-radio-button:checked {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    box-shadow: none !important;
}

.c-type-fieldset--heading {
    color: var(--color-dark);
}

.c-new-event--form {
    padding: 1rem;
}

.image-upload--wrapper {
    position: relative;
}

.image-upload--input {
    position: absolute;
    opacity: 0;
    bottom: 0;
    left: 50%;
    /*z-index: -1;*/
    width: 1px;
}

.image-upload--label {
    cursor: pointer;
    border: 1px dashed black;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px
}


/* GLOBAL */
.modal-content {
    border-radius: var(--radius-normal);
}


.btn {
    border-radius: var(--radius-normal);
    font-weight: bold;
}

.btn:focus {
    box-shadow: none !important;
}

.c-btn-primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    border-radius: var(--radius-normal);
    font-weight: bold;
    max-width: 250px;
}

.c-btn-primary:hover {
    background-color: var(--color-primary-shade);
    border-color: var(--color-primary-shade);
}

.c-btn-primary:focus {
    background-color: var(--color-primary-shade);
    border-color: var(--color-primary-shade);
}

.pagination li * {
    color: var(--color-primary) !important;
}

.pagination *:focus {
    outline: none !important;
    box-shadow: none !important;
}

.pagination > .active span {
    background-color: var(--color-primary) !important;
    border-color: var(--color-primary) !important;;
    color: var(--color-light) !important;
}


.events--link {
    display: block;
    background-color: var(--color-primary);
    color: var(--color-light);
    padding: 0.3rem;
    border-radius: var(--radius-normal);
    text-align: center;
    text-decoration: none;
    font-size: 0.8rem;
}

.events--link-b {
    position: fixed;
    right: 0;
    top: 30%;
    width: 100px;
    background-color: var(--color-primary);
    color: var(--color-light);
    padding: 0.3rem;
    border-top-left-radius: var(--radius-normal);
    border-bottom-left-radius: var(--radius-normal);
    text-align: center;
    text-decoration: none;
    font-size: 0.8rem;
}

.events--link:hover {
    color: var(--color-light);
}

.c-form {
    border-radius: var(--radius-normal);
    background-color: var(--color-tertiary);
}

.c-form--submit-button {
    width: 150px;
}

.c-form--inputs-wrapper > * {
    margin-bottom: 1rem;
}


/* LOGIN */
.c-login-form {
    padding: 2rem;
    background-color: var(--color-tertiary);
    border-radius: var(--radius-normal);
    margin: auto;
    max-width: 400px;
}

.c-login-form > div {
    margin-top: 1rem;
}

.previous-page--link {
    color: var(--color-primary);
    font-weight: bold;
    font-size: var(--font-size-normal);
}

.previous-page--link:hover {
    color: var(--color-primary);
}

/* 404 page */
.not-found--heading {
    text-align: center;
    color: var(--color-primary);
    font-size: 6rem;
    font-family: 'Italiana', serif;
}

.not-found--sub-heading {
    font-size: 2rem;
    text-align: center;
    font-family: 'Italiana', serif;
}

.not-found--text {
    font-size: 1rem;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .page-heading {
        background-color: transparent;
    }

    #content-container {
        margin-top: 263px;
    }

    .home-page--welcome-text {
        font-size: var(--font-size-medium);
    }

    .home-page--sub-heading {
        font-size: var(--font-size-big);
    }

    .c-review-form--submit {
        width: 150px;
    }

    .c-btn-filter * {
        font-size: 1.2rem;
    }

    .c-filter-icon {
        font-size: 1.4rem;
        /*font-size: 1.4rem;*/
    }

    .events--link {
        font-size: 1.2rem;
    }

    .events--link-b {
        width: 130px;
        font-size: 1rem;
    }

    .not-found--heading {

        font-size: 8rem;
    }

    .not-found--text {
        font-size: 1.5rem;
        text-align: center;
    }
}
