.c-card {
    background-color: var(--color-tertiary);
    overflow: hidden;
    border-radius: var(--radius-normal);
    transition: background-color 0.3s;
}

.c-card:hover {
    background-color: var(--color-primary);
    cursor: pointer;
    transition: background-color 0.3s;
}

.c-card:hover .c-card-title {
    color: var(--color-secondary);
}

.c-card:hover p {
    color: var(--color-light);
}

.c-card-image {
    /*height: 100%;*/
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.c-card-title {
    color: var(--color-primary);
    font-size: var(--font-size-big);
}

.c-card:hover .c-card-date {
    color: #b4aaaa !important;
}

.c-card-text--wrapper {
    max-height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.card--aside {
    width: 100%;
    height: 50px;
    margin-top: 0.3rem;
}

.event-detail--edit-link {
    background-color: #9BC8D2;
    color: var(--color-dark);
    border-radius: 0 0 0 var(--radius-normal);
    width: inherit;
}

.event-detail--edit-link:hover {
    background-color: #88b0b9;
    color: var(--color-dark);
    transition: background-color 0.15s;
}

.event-detail--edit-link i {
    font-size: var(--font-size-medium);
}

.event-detail--delete-button {
    background-color: #D29B9B;
    border: none !important;
    border-radius: 0 0 var(--radius-normal) 0;
    width: inherit;
}

.event-detail--delete-button:hover {
    background-color: #b98888;
}


.event-detail--delete-button i {
    font-size: var(--font-size-medium);
}

.event-detail--delete-button__alone {
    border-radius: 0 var(--radius-normal) var(--radius-normal) 0;
}


/*event-detail--edit-link">
                <i class="bi bi-pencil"></i>
            </a>
    @endif
    <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary c-btn-primary border event-detail--delete-button*/

@media only screen and (min-width: 768px) {
    .c-card {
        max-height: 230px;
    }

    .c-card-text--wrapper {
        max-height: initial;
    }

    .c-card-image {
        /*height: 100%;*/
        height: 230px;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    .card--aside {
        width: 100px;
        height: inherit;
        margin-top: 0;
        margin-left: 0.3rem;
    }

    .event-detail--edit-link {
        border-radius: 0 var(--radius-normal) 0 0;
    }

    .event-detail--delete-button {
        border-radius: 0 0 var(--radius-normal) 0;
    }
}
