.items-list {
    padding: 0;
    list-style: none;
}

.event-list__link {
    text-decoration: none;
    color: var(--color-dark);
}

.c-no-events {
    background-color: var(--color-tertiary);
    border-radius: var(--radius-normal);
}
