.c-review-card {
    overflow: hidden;
    border-radius: var(--radius-normal);
}

.c-review-card--answer {
    background-color: var(--color-primary);
}

.c-review-card--answer * {
    background-color: var(--color-primary);
    color: var(--color-light);

}

.c-review-date__answer {
    color: var(--color-light);
    font-size: var(--font-size-normal);
    font-weight: normal;
}

.c-review-heading {
    font-size: var(--font-size-medium);
    font-weight: bold;
}

.c-card-header--answer {
    border-bottom: 1px solid var(--color-secondary);
}

.c-review-date {
    font-size: var(--font-size-normal);
    font-weight: normal;
    color: var(--color-dark);
}


.rating-view {
    unicode-bidi: bidi-override;
}

.rating-view > span {
    position: relative;
    font-size: var(--font-size-normal);
    display: inline-block;
    content: "\2605";
    color: #ccc;
    background: -webkit-linear-gradient(-45deg, #d9d9d9 0%, #b3b3b3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rating-view > .filled-star:before {
    content: "\2605";
    position: absolute;
    color: var(--color-primary);
    background: var(--color-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.c-review-header {
    background-color: var(--color-tertiary);
}

.c-review-body {
    background-color: var(--color-tertiary);
}

.c-review-answer--footer > input {
    border: 1px solid var(--color-light);
}

.c-review-answer--footer > input:hover {
    border: 1px solid var(--color-light);
}

@media only screen and (min-width: 768px) {
    .rating-view > span {
        font-size: var(--font-size-medium);
    }

    .c-review-date {
        font-size: var(--font-size-medium);
    }
}
