* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background-color: var(--color-light);
}

body {
    font-family: "Montserrat", sans-serif;
    display: grid;
    /* grid-template-rows: fit-content(30rem) auto; */
    height: 100%;
}

#content-container {
    /* height: 100%; */
    display: grid;
    grid-template-rows: auto 2rem;
    background-color: var(--color--light);
    margin-top: 95px;
}

main {
    height: 100%;
    width: 100%;
    padding: 1rem;
    background-color: var(--color-light);
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.main-footer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    background-color: var(--color-tertiary);
}

@media only screen and (min-width: 768px) {
    #content-container {
        margin-top: 263px;
    }
}
